html
  head
    title= title
    link(rel='stylesheet', href='style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Roboto')
  body
    h1= title
    hr

    ul
        each server in servers
            .server
                h2= server.name
                .details
                    li= 'Players:' + server.players + '/10'
                    li= 'Version:' + server.gametype
                    a(href='steam://connect/'+server.addr) Connect